.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card ul {
  background: rgb(25, 205, 139);
}
.card li {
  list-style: circle;
}
.container1 {
  display: flex;
  gap: 50px;
}
